html {
  scroll-behavior: smooth;
}

/* main.masthead {
  padding-top: 200px;
  padding-bottom: 15%;
} */

/*Navbar styling*/
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  /* background-color: rgb(102, 102, 102); */
}

/* #mainNavbar .nav-link {
  color: rgb(255, 255, 255);
} */

#mainNavbar .nav-link:hover {
  color: #c0392b;
}

#mainNavbar .navbar-brand {
  color: rgb(255, 255, 255);
  font-family: "Kaushan Script";
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: none;
}

.navbar a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

.nav-item {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #34495e;
  }
}
@media (min-width: 576px) {
  main.masthead {
    padding-top: 25vh;
  }
}
@media (min-width: 768px) {
  main.masthead {
    padding-top: 35vh;
  }
}
@media (min-width: 992px) {
  main.masthead {
    padding-top: 40vh;
  }
}

/*End Navbar styling*/

/* Home Page */

.intro-section {
  height: 100vh;
  background-image: url(../img/durango-rr.jpg);
  background-size: cover;
  font-family: "Montserrat";
  text-transform: uppercase;
  padding-top: 40vh;
}

.intro-section p {
  color: #fff;
  font-size: 4vw;
  font-weight: 700;
}

/* End Home Page */

/* Blog Page */
table,
td,
th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 20px;
}

/* End Blog Page */

/* Create body gap for navbar */

#tippytop {
  margin-top: 100px;
}
