{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<div id="tippytop">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>About Us</h1>
                <p id="aboutparagraphs">This Scenic Life is all about exploring and enjoying the outdoors while bringing
                    you on the journey.
                    We are two
                    passionate outdoors guys with an interest in providing high quality media for our fellow outdoors
                    enthusiasts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center"><img class="rounded-circle mx-auto" src="/static/img/about-kyle-portrait.jpg"
                        alt="" /></div>

                <h3>Kyle</h3>
                <p id="aboutparagraphs">
                    Kyle is an expert on the mountains of the southeast,
                    particularly anything in North Carolina. He also has
                    significant miles in the American Southwest. Are you a fan of
                    Asheville, the Black Mountains, the Smokies, or even Zion? If
                    so, Kyle has you covered.
                </p>
            </div>
            <div class="col">
                <div class="text-center"><img class="rounded-circle mx-auto" src="/static/img/about-daniel-portrait.jpg"
                        alt="" /></div>

                <h3>Daniel</h3>
                <p id="aboutparagraphs">
                    Daniel is quickly learning as much as possible about the Rocky
                    Mountains and the Colorado Plateau. Recently he's also been
                    exploring the pacific coast. If you want some inspiration out
                    West beyond the Southwest, you're in the right place.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}