{% extends 'base.html' %}

{% block head %}
<title>Blog</title>
{% endblock %}

{% block body %}
<!--Blog List-->
<div id="tippytop">
    <div class="form-group">
        <div class="col-md-12 text-center">
            <a class="btn btn-outline-primary btn-md" id="addblogbutton" href="{{ url_for('createblog') }}">Add
                Blog</a>
        </div>
    </div>
    <div class="container" id="blog-table">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center">Blog</h1>
                {% if blogs|length < 1 %}
                <h4 style="text-align: center">There are no blogs. Create one below!</h4>
                {% else %}
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Blog Post</th>
                        <th>Actions</th>
                    </tr>
                    {% for blog in blogs %}
                    <tr>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.content }}</td>
                        <td>
                            <a href="/delete/{{blog.id}}">Delete</a>
                            <br>
                            <a href="/update/{{blog.id}}">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}