{% extends 'base.html' %}

{% block head %}
<title>Contact</title>
{% endblock %}

{% block body %}
<div id="tippytop">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contact</h1>
                <p>
                    <hr id="email-split" />
                    <a href="mailto:evacreations.home@gmail.com">
                        <i class="far fa-envelope"></i>
                        evacreations.home@gmail.com
                    </a>
                    <hr id="email-split" />
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}