{% extends 'base.html' %}

{% block head %}
<title>New User Registration</title>
{% endblock %}

{% block body %}
<div class="container" id="tippytop">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" action="{{ url_for('signup') }}" method="post">
                    <fieldset>
                        <legend class="text-left header">New User Registration</legend>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fas fa-signature"></i></span>
                            <div class="col-md-8">
                                <input id="new_name" name="new_name" type="text" placeholder="Name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fas fa-signature"></i></span>
                            <div class="col-md-8">
                                <input id="new_username" name="new_username" type="email" placeholder="Username"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                    class="far fa-list-alt"></i></i></span>
                            <div class="col-md-8">
                                <input id="new_password" name="new_password" type="password" placeholder="Password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}