{% extends 'base.html' %}

{% block head %}
<div id="tippytop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Videos</h1>
                <p>Frying Pan Mountain Lookout Tower</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ndws6gJgx3Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <p>Morning on Big Bald Mountain</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lIzto79ze_Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <p>Blue Ridge Parkway - Asheville to Highway 276</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kLy6uKdywCk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}